:root {
    --font-family-main: 'Verdana', sans-serif;

    --front-size-m: 16px;
    --font-line-m: 24px; 
    --font-m: var(--front-size-m) / var(--font-line-m) var(--font-family-main);

    --front-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--front-size-l) / var(--font-line-l) var(--font-family-main);

    --navbar-height: 20vh;
};