.app.dark {
    --bg-color: #18191A;
    --bg-color-inverted: #1F1F21;
    --border-color: #696b71;

    --primary-color: #BFC1C4;
    --secondary-color: #BFC1C4;

    --primary-color--inverted: #BFC1C4;
    --secondary-color-inverted: #18191A;
}
