.app.light {
    --bg-color: #F8F8F8;
    --bg-color-inverted: #FFFFFF;
    --border-color: #babdc5;

    --primary-color: #2f27ce;
    --secondary-color: #000000;
    
    --primary-color-inverted: #3a31d8;
    --secondary-color-inverted: #FFFFFF;
}